<section class="image-carousel-flex-container">
    <div class="carousel-left">
       
    </div>
    <div class="carousel-center">
         <span class="carousel-arrow">Ar</span>
         Image</div>
    <div class="carousel-right">Right</div>
</section>